* {
    background: #F3F5FC;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1em;
    line-height: 130%;
    box-sizing: border-box;
}

.logo {
    padding-top: 5%;
    margin-left: 5%;
    width: 10%;
}

main {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
}

.respuesta {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 2em;
    margin: 2%;
    width: 30%;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    height: auto;

}

.text-area {
    border: none;
    color: #0A3871;
    margin-top: 10%;
    text-transform: lowercase;
    background-color: white;
    border-radius: 2em;
    padding: 5%;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

::placeholder {
    color: #0A3871
}

.text-area:focus {
    outline: none;
}

.mensaje {
    background: white;
    background-image: url("imagenes/Muñeco.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;    
    color: #0A3871;
    border-radius: 2em;
    padding: 5%;
    margin: 5%;
}

.mensaje:focus {
    outline: none;
}

.ingreso {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1%;
}

.botones {
    display: flex;
    margin: 1%;

}

.btn-desencriptar {
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 1em;
    color: #0A3871;
    cursor: pointer;
    height: 80%;
    width: 60%;
    padding: 5%;
    margin: 1%;


}
.btn-desencriptar:hover  {    
    background-color: white;
    color: #0A3871;
}

.btn-encriptar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 1em;
    color: white;
    cursor: pointer;
    height: 80%;
    width: 60%;
    padding: 5%;
    margin: 1%;
}

.btn-encriptar:hover {
    
    background-color: white;
    color: #0A3871;
}

.btn-copiar {
    border: 1px solid #0A3871;
    border-radius: 1em;
    color: #0A3871;
    cursor: pointer;
    height: 10%;
    width: 50%;
    padding: 2%;
    margin: 2% auto;

}

.btn-copiar:hover {
    background-color: white;
    color: #0A3871;
}

.btn-pegar{
    display: none;
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 1em;
    color: white;
    cursor: pointer;
    height: 80%;
    width: 60%;
    padding: 5%;
    margin: 1%;
    margin-left: 5%;
    justify-content: center;

}

.btn-pegar:hover {
    
    background-color: white;
    color: #0A3871;
}

.informacion {
    color: #495057;
    font-size: 0.7em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2%;
}

.logoinfo {
    float: left;
    margin-top: 0.7%;
    margin-right: 1%;
}

#parrafo1{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background: white;
}

#parrafo2{
    width: 60%;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    background: white;
    margin: 0 auto;
    padding: 5%;
}


footer  {
    color: #495057;
    font-size: 10px;
    text-align: center;
    margin: 1%;
        
}

.imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.github,
.linkedin {
    width: 20px;
    margin: 10px;

}

/* Vista celular */
@media (max-width: 374px) {
    main {
        flex-wrap: wrap;
    }
    .botones {
        flex-direction: column;
        gap: 10%;
        width: 100%;
        align-items: center;
    }

    .ingreso,
    .respuesta {
        width: 90%;
        margin-top: 10%;
    }
}

/* Vista tablet */
@media only screen and (min-width: 375px) and (max-width: 768px){
    main {
        flex-wrap: wrap;
    }

    .ingreso,
    .respuesta {
        width: 90%;
        height: 80%
    }
}

/* Vista Desktop */
@media (min-width: 769px) {

}
